<?xml version="1.0" encoding="utf-8"?>
<config>
    <!-- IMPORTANT -->
    <!-- This is a config sample / Please create a copy and rename it to config.local.xml -->
    <general>
        <charset>UTF-8</charset>
        <timezone>Europe/Berlin</timezone>
        <heartbeat_url /> <!-- A ping will be send to this url after successful backup -->
    </general>
    <backup>
        <mode>mail</mode> <!-- mail or store -->
        <pfsense_address>10.0.0.1</pfsense_address> <!-- IP address or hostname -->
        <pfsense_protocol>http</pfsense_protocol> <!-- HTTP or HTTPS -->
        <credentials>
            <username>admin</username>
            <password>eW91cnNlY3JldHB3</password> <!-- You pfsense password BASE64 encoded -->
        </credentials>
        <backuparea>all</backuparea>
        <nopackages>no</nopackages>
        <donotbackuprrd>yes</donotbackuprrd>
        <encrypt>no</encrypt>
        <encrypt_password />
        <mode_configs>
            <mail>
                <recipient_addresses>admin@example.com,admin2@example.com</recipient_addresses> <!-- Comma separated list of mail recipients -->
            </mail>
            <store>
                <target_directory><![CDATA[/var/www/html/pfsense-backup/var/backups/]]></target_directory> <!-- Please use an absolute path here if possible -->
                <override_file>1</override_file> <!-- 1 or 0 - if 1 the backup file will be overwritten with each script execution -->
            </store>
        </mode_configs>
    </backup>
    <outbox>
        <sender_address>pfsense-backup@example.com</sender_address>
        <sender_name>pfSense-Backup</sender_name>
        <smtp>
            <host>smtp.example.com</host>
            <port>25</port>
            <encryption>tls</encryption>
            <auth>1</auth> <!-- 1 or 0 - if 1 please provide credentials below -->
            <user>pfsense-backup@example.com</user>
            <password>yoursecretmailpwd</password>
        </smtp>
    </outbox>
    <log>
        <loglevel>warning</loglevel>
        <notifylevel>error</notifylevel>
        <recipients>admin@example.com</recipients> <!-- Comma separated list of mail recipients -->
        <ident>PFSENSE-BACKUP</ident>
        <mail_header><![CDATA[<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body style="font-family:Arial,sans-serif; color:#000000;margin:0;padding:0;background:#ffffff;text-align:center;-webkit-text-size-adjust: 100%;"><!-- mail body -->]]></mail_header>
        <mail_footer><![CDATA[<!-- / mail body --></body></html>]]></mail_footer>
    </log>
</config>